In [1]:
# print  from 0 to 20 by using range
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
# print range 10 to 20
for num in range(10,20):
    print(num, end=" ")

10 11 12 13 14 15 16 17 18 19

In [7]:
#  Print number of items in the list by using 'len
list2 = [10, 20, 14, 55, 43, 87, 76]
print(list2)
print("Enter no of items in list2:")
print(len(list2))

[10, 20, 14, 55, 43, 87, 76]
Enter no of items in list2:
7

In [2]:
print("Artificial Intelligence")
letter = "Artificial Intelligence"
for i in letter:
    print(i)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [3]:
list = ["-Your name-","-Your age-","-Your profession-"]
for i in list:
    print(i)

-Your name-
-Your age-
-Your profession-

In [5]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/
# Print this mixerd datatype using Tuples
word = ["1, Welcome, 2, Hope"]
print(word)

['1, Welcome, 2, Hope']

In [6]:
tuple1=(0,1,2,3)
tuple2=("Python", "Hope")
tuple3=(tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('Python', 'Hope'))

In [12]:
# print Odd Numbers in the list
num =[20,10,16,19,25,1,276,188]
print(num)
for i in num:
    if i%2 == 1:
        print(i, "is odd")

[20, 10, 16, 19, 25, 1, 276, 188]
19 is odd
25 is odd
1 is odd

In [13]:
# print even Numbers in the list
num =[20,10,16,19,25,1,276,188]
print(num)
for i in num:
    if i%2 == 0:
        print(i, "is even")

[20, 10, 16, 19, 25, 1, 276, 188]
20 is even
10 is even
16 is even
276 is even
188 is even