In [1]:
print("HOPE AI")

HOPE AI

In [4]:
#Buy input
institute = input("Enter your insitute name?:")

Enter your insitute name?: HOPE AI

In [3]:
name = input("Enter your name :")
age = input("Enter your age :")
school = input("Enter your school :")
degree = input("Enter your Degree :")

Enter your name : SIVA
Enter your age : 40
Enter your school : BITS PILANI
Enter your Degree : MBA

In [9]:
#Addition
number1 = int(input("a ="))
number2 = int(input("b ="))
print("add = ",number1+number2)

a = 43
b = 34

add =  77

In [10]:
#Subtraction
number1 = int(input("a ="))
number2 = int(input("b ="))
print("sub = ",number1-number2)

a = 43
b = 34

sub =  9

In [11]:
#multiplication
number1 = int(input("a ="))
number2 = int(input("b ="))
print("mul = ",number1*number2)

a = 63
b = 97

mul =  6111

In [12]:
#Division
number1 = int(input("a ="))
number2 = int(input("b ="))
print("floatdiv = ",number1/number2)

a = 76
b = 31

floatdiv =  2.4516129032258065

In [13]:
#floor division
number1 = int(input("a ="))
number2 = int(input("b ="))
print("floordiv = ",number1//number2)

a = 76
b = 31

floordiv =  2

In [14]:
#modulo
number1 = int(input("a ="))
number2 = int(input("b ="))
print("mod = ",number1%number2)

a = 76
b = 31

mod =  14

In [15]:
#power
number1 = int(input("a ="))
number2 = int(input("b ="))
print("power = ",number1**number2)

a = 4
b = 4

power =  256